@model IEnumerable<Project>
@{
    ViewData["Title"]="List";
    Layout="_login";
}
<style>
    th,td{
        padding: 10px;
        text-align: center;
    }
    button{
        border:none ;
        background-color: rgb(161, 62, 194);
        border-radius: 7%;
    }
    label{
        margin-left: 380px;
        margin-top: 10px;
        width: 400px;
        font-weight: bold;
        font-size: xx-large
    }
    table{
        margin-left: 150px;
        margin-top: 2px;
        max-width: 780px;

    }
</style>
<label>Project Details</label>
<form action="get" class="table table-striped table-hover">
<button asp-action="AssignProject" asp-controller="Admin" style="margin-left: 200%;">New</button></form>
<table border=3 class="table table-striped table-hover" style="margin-left: 100px;margin-top:-14px;min-width: 850px;max-width: 850px;">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Deadline</th>
            <th>Manager</th>
            <th>SRS Document</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Project project in Model){
            <tr>
                <td>@project.Name</td>
                <td>@project.Deadline</td>
                <td>@project.Manager</td>
                <form  asp-action="get">
                <td><button asp-controller="Admin" asp-action="ViewPDF" type="submit" asp-route-name="@project.Name">View Document</button></td>
                </form>
                <form  asp-action="post">
                <td><button asp-controller="Admin" asp-action="DeleteProject" type="submit" asp-route-name="@project.Name">Delete</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>