@model IEnumerable<Team>
@{
    Layout="_ManagerLayout";
}
<style>
    th,td{
        padding: 10px;
        text-align: center;
    }
    button{
        border:none ;
        background-color: rgb(161, 62, 194);
        border-radius: 7%;
    }
    label{
        margin-left: 420px;
        margin-top: 10px;
        width: 400px;
        font-weight: bold;
        font-size: xx-large
    }
</style>
<label>Task Details</label>
<br>
<table style="margin-left: 81%;margin-top:-15px;">
    <tr>
        <td style="padding:33px"><form method="get" asp-action="TaskDetails" asp-controller="Manager"><button type="submit" style="margin-left: 80%; background-color:white; width:80px; border:solid 1px rgb(161, 62, 194)" >Pending</button></form></td>
        <td style= "padding:33px"><form method="get" asp-action="FTaskDetails" asp-controller="Manager"><button type="submit">Completed</button></form></td>
    </tr>
</table>
<p style="margin-top: -15%;"><label style="color:red">@ViewBag.message</label><form action="get">
<button asp-action="AddTask" asp-controller="Manager" style="margin-left: 200%;">New</button></form></p>
<table border=3 class="table table-striped table-hover" style="margin-left: 90px;margin-top:-15px;min-width: 900px;max-width: 900px;">
    <thead>
        <tr>
            <th>Username</th>
            <th>Taskname</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Team task in Model){
            <tr>
                <td>@task.Username</td>
                <td>@task.Taskname</td>
                <td>@task.Deadline</td>
                <td>@task.Status</td>
            </tr>
        }
    </tbody>
</table>