@model IEnumerable<Request>
@{
    ViewData["Title"]="List";
    Layout="_SystemAdminLayout";
}
<style>
    th,td{
        padding: 10px;
        text-align: center;
    }
    button{
        border:none ;
        background-color: rgb(161, 62, 194);
        border-radius: 7%;
    }
    label{
        margin-left: 380px;
        margin-top: 10px;
        width: 400px;
        font-weight: bold;
        font-size: xx-large
    }
    table{
        margin-left: 90px;
        margin-top: 2px;
        min-width: 870px;
        max-width: 870px;

    }
</style>
<label>Request Details</label>
@* <table>
    <tr>
        <td><a asp-action="RequestDetails" asp-controller="Admin">RequestDetails</a></td>
        <td><a asp-action="FRequestDetails" asp-controller="Admin">RequestDetails</a></td>
    </tr>
</table> *@
<p><a style="margin-left: 90%;" asp-action="RequestDetails" asp-controller="Admin">RequestDetails</a><a style="margin-left: 13%;" asp-action="FRequestDetails" asp-controller="Admin">RequestDetails</a></p>
<table border=3 class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Username</th>
            <th>Description</th>
            <th>Status</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Request request in Model){
            <tr>
                <td>@request.RequestID</td>
                <td>@request.Username</td>
                <td>@request.Description</td>
                <td>@request.Status</td>
                <form method="post" asp-action="RequestDetails" asp-controller="Admin" asp-route-RequestID="@request.RequestID">
                <td><button type="submit">Done</button></td>
                </form>
                <form method="post" asp-action="Reject" asp-controller="Admin" asp-route-RequestID="@request.RequestID">
                <td><button type="submit">Reject</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>