@model User
@{
    Layout="_login";
}
<style>
    .headlabel{
        background-color: rgb(161, 62, 194) ;
        width: 9em;
        font-weight: bold;
    }
    .datalabel{
        width: 9em;
    }
    center{
        margin-left:90px;
    }
    h1{
        margin-left: 400px;
        width: 400px;
        margin-top:10%;
    }
    td{
        padding: 30px;
    }
    button{
        border:none ;
        background-color: rgb(161, 62, 194);
        border-radius: 7%;
        margin-left: 450px;
        margin-top: 20px;
        height: 40px;
        width: 80px;
        font-weight: bold;
    }
</style>

<h1>New Employee</h1>
<form method="post">
<center>
<table>
    <tr>
        <td>
            <label class="headlabel">Name </label>
        </td>
        <td>
            <input asp-for="Name" class="datalabel" required></input>
            @Html.ValidationMessageFor((m => m.Username),"",new{@class="text-danger"})
        </td>
        <td>
            <label class="headlabel">Age </label>
        </td>
        <td>
            <input type="number" asp-for="age" min="18" max="60" class="datalabel" required></input>
            @Html.ValidationMessageFor((m => m.age),"",new{@class="text-danger"})
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">Username</label>
        </td>
        <td>
           <input asp-for="Username" name="Username" class="datalabel" required></input>
           @Html.ValidationMessageFor((m => m.Username),"",new{@class="text-danger"})
        </td>
        <td>
            <label class="headlabel">Password</label>
        </td>
        <td>
           <input type="password" asp-for="Password" pattern="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[&#64#$%^&+=]).*$" class="datalabel" required></input>
           @Html.ValidationMessageFor((m => m.Password),"",new{@class="text-danger"})
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">Role</label>
        </td>
        <td>
           <input asp-for="Role" class="datalabel"  value="Employee" readonly></input>
        </td>
        <td>
            <label class="headlabel">Designation</label>
        </td>
        <td>
            <input name="Designation"  asp-for="Designation" class="datalabel" required></input>
            @Html.ValidationMessageFor((m => m.Designation),"",new{@class="text-danger"})
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">Email ID</label>
        </td>
        <td>
           <input type="email" asp-for="EmailID" class="datalabel" required></input>
           @Html.ValidationMessageFor((m => m.EmailID),"",new{@class="text-danger"})
        </td>
        <td>
            <label class="headlabel">Phone No</label>
        </td>
        <td>
            <input type="number" asp-for="Phoneno" class="datalabel" required></input>
            @Html.ValidationMessageFor((m => m.Phoneno),"",new{@class="text-danger"})
        </td>
    </tr>
</table>
</center>
<div style="color: red;text-align:center">@ViewBag.message</div>
<button type="submit">Register</button> 
</form>